@import "normalize";
@import "variables";
@import "adaptive";
@import "header";
@import "adaptiveValue";


body {
  background: rgb(29,6,62);
  background: linear-gradient(90deg, rgb(19, 10, 31) 100%);
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  color: $white;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  max-width: 1260px;
  margin: 0 auto;
  width: 100%;
  padding: 0px 30px;
  @include mediaw(767px) {
    padding: 50px 30px;
  }
}
.box {
  border-radius: 25px;
  border: 1px solid rgb(105, 53, 179);
  box-shadow: 0px 0px 20px 2px #500950;
  padding: 20px 20px 50px 20px;
  &__title {
    text-align: center;
    letter-spacing: 2px;
    padding: 20px 0 40px 0;
    font-size: 22px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    @include mediaw(767px) {
      flex-direction: column-reverse;
    }
  }
}
.filter {
  display: flex;
  flex-direction: column;
  flex-basis: 35%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, .8);
  &.disable :where(.filter__title, .filter__items, .filter__result, .filter__range, .filter__reset, .filter__rotate) {
    opacity: .6;
    pointer-events: none;
  }
  &__title {
    padding-bottom: 20px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
    padding-bottom: 20px;
    @include mediaw(425px) {
      flex-direction: column;
    }
  }
  &__item {
    flex: 0 0 48%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, .8);
    border-radius: 10px;
    color: $white;
    cursor: pointer;
    transition: all .3s;
    background-color: rgb(54, 37, 79);
    max-width: 100%;
    &:hover {
      background-color: rgb(93, 62, 140);
    }
    &.active {
      background-color: rgb(93, 62, 140);
    }
  }
  &__range {
    margin-top: 10px;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    background: rgba(255, 255, 255, .8); /* Grey background */
    border-radius: 20px;
    cursor: pointer;
    &:hover::-webkit-slider-thumb {
      background: #026b45;
    }
  }
  &__range::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    border-radius: 50%;
    transition: all .3s;
  }
  &__result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
  }
  &__rotate {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include mediaw(425px) {
      flex-wrap: wrap;
      row-gap: 10px;
    }
    & button {
      margin-right: 20px;
      min-width: 42px;
      padding: 10px;
      border: 1px solid $white;
      border-radius: 10px;
      cursor: pointer;
      background-color: transparent;
      transition: all .3s;
      &:hover {
        background-color: rgb(93, 62, 140);
      }
      &:last-child {
        margin-right: 0;
      }
      & i {
        color: $white;
        font-size: 20px;
      }
      @include mediaw(425px) {
        flex-basis: 45%;
        margin-right: 0px;
      }
    }
  }
  &__reset {
    padding-top: 50px;
    text-align: center;
    & button {
      padding: 10px 0;
      border: 1px solid $white;
      border-radius: 10px;
      cursor: pointer;
      background-color: transparent;
      transition: all .3s;
      color: $white;
      background-color: rgb(54, 37, 79);
      width: 100%;
      max-width: 80%;
      margin: 0 auto;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1px;
      &:hover {
        background-color: rgb(93, 62, 140);
      }
      @include mediaw(767px) {
        margin-bottom: 20px;
      }
    }
  }
  @include mediaw(767px) {
    margin-top: 20px;
  }
}
.result {
  flex-basis: 60%;
  &__image {
    overflow: hidden;
    text-align: center;
    &-preview {
      max-height: 400px;
      max-width: 75%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
  }
  &__choose {
    display: flex;
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid rgba(255, 255, 255, .8);
    border-radius: 10px;
    color: $white;
    cursor: pointer;
    transition: all .3s;
    background-color: rgb(54, 37, 79);
    max-width: 100%;
    &:hover {
      background-color: rgb(93, 62, 140);
    }
  }
}